.header{
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: #F7F8F9;
  padding: 0px 3%;
  padding-top:10px;
  padding-bottom:10px;
}
.header .logo{
  width: 40px;
  margin-right: 20px;
}
.header .logo img{
  width: 100%;
}
.header .location{
  background-color: #fff;
  border: 2px solid rgb(51, 51, 51);
  border-radius: 5px;
}
.input1{
  padding: 13px;
  border: none;
  font-size: 15px;
}
.input1:focus{
  outline: none;
}
.location:hover{
  outline: 2px solid #49F0EA;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
.btn-down{
  margin-right: 3px;
  border: none;
  background: transparent;
}
.btn-down i{
  font-size: 25px;
}

.header .search {
  background-color: #fff;
  border: 2px solid rgb(51, 51, 51);
  border-radius: 5px;
  flex: 2;
  margin: 0px 20px;
}
.header .search .query{
  flex: 1;
  padding: 13px;
  font-size: 14px;
  border: none;
  box-sizing:border-box;
}
.header .search .query:focus{
  outline: 2px solid #49F0EA;
}

.btn-search{
  border: none;
  min-width: 48px;
  height: 47px;
  display: flex;
  cursor: pointer;
  background-color: #002f34;
  border-radius: 0 4px 4px 0;
}
.btn-search i{
  font-size: 23px;
  background-color: #002f34;
  color: #fff;
  padding:11px;
}
.login{
  margin-right: 4px;
  padding-left: 5px;
  padding-right: 5px;
  color: #002f34;
  border-bottom:2px solid #002f34;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.1s;
}
.login:hover{
  border-bottom:0px solid #002f34;
}
.header .actions .sell{
  background-color: #fff;
  border: 5px solid #ffa500;
  color: #002f34;
  font-size: 14px;
  margin-left: 10px;
  border-radius: 30px;
  box-shadow: 0px 3px 5px #a9a9a9;
  width: 75px;
  height: 40px;
  cursor: pointer;
}
.header .actions .sell i {
  font-weight: bold;
  color: #002f34;
  padding-left: 5px;
}

.hnav {
  top: 70px;
  left: 0px;
  right: 0px;
  height: 40px;
  z-index: 8;
  background-color: #fff;
  padding: 0px 3%;
  padding-top:8px;
  padding-bottom:5px;
}
.view-cates{
  background-color: #fff;
  border: none;
  height: 40px;
}
.categories a{
  color: black;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  font-size:15px;
}
.categories a:hover{
  color: rgb(8, 153, 153);
}
.bgImage{
  margin-top: 110px;
}
.bgImage img {
  width: 100%;
  height: 40vh;
}

.featuredProducts{
  background-color: #FFCE32;
  padding: 2px;
  margin: 4px;
  width: 27%;
  font-weight: bold;
  font-size: 12px;
}
.LoadMore{
  margin-top: 20px;
  margin-bottom: 20px;
  border:2px solid #002f34;
  background-color: #fff;
  padding: 10px;
  color: #002f34;
  font-weight: bold;
  font-size: 15px;
}
.LoadMore:focus{
  outline: none;
}
.LoadMore:hover{
  outline: 3px solid #002f34;
}
.store{
  display: flex;
}
.pcategories{
  color:#002f34;
  font-size: 14px;
  font-weight: bold;
  padding-top: 15px;
}
.columnOne p{
  font-size: 13px;
  padding: 0;
  margin: 0;
}
.columnTwo p{
  font-size: 13px;
  padding: 0;
  margin: 0;
}
.columnThree p{
  font-size: 13px;
  padding: 0;
  margin: 0;
}
.columnFour p{
  font-size: 13px;
  padding: 0;
  margin: 0;
}
.socialIcons i{
  padding-right: 8px;
  padding-left: 8px;
  font-size: 20px;
  color: #002f34;
}
.store2{
  display: flex;
}
.store2 img{
  width: 90px;
  margin-top:22px;
}
.footer3 p{
  font-size: 13px;
}



@media (max-width:768px) {
  .header .location{
    display: none;
  }
  .header .search{
    display: none;
  }
}
